@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

html {
  font-size: 62.5%;
  background : linear-gradient(to bottom right , crimson 45% ,green);
  height: 100%;
 
}

.App{
  text-align: center;
  font-family: 'Girassol', cursive;
  font-size: 2rem;
}
img{
  height: 10rem;
  box-shadow: 2px 2px 2px black;
  
}

input {
  /* display: block; */
  min-width: 40rem;
  height: 1rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
}
input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input:focus {
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}


.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: #fff;
  background-image: none;
  color:crimson;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}
.fa:hover {
  color: rgba(42, 177, 42, 0.829);
}

.fa-plus:before {
  content: "\f067";
  font-size: 1.5rem;
}





.itemList{
  margin: auto;
  margin-top: 1rem;
  height: 2rem;
  width: 25rem;
  background: #fff;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  word-break: break-word;
 background: rgba(42, 177, 42, 0.829);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: 'Goblin One', cursive;
  font-size: 1.2rem;
}

.itemList:hover{
  background-color: rgb(156, 26, 52);
  transition: 1s ease-in;
}

.removeAll-btn{
  margin-top : 1rem;
}